






<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->

<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->

<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->

<!--[if gt IE 9]><!-->

<html class="no-js">

<!--<![endif]-->

<head>

    <!-- Google Tag Manager -->

    <script>

        (function (w, d, s, l, i) {

        w[l] = w[l] || []; w[l].push({

        'gtm.start':

        new Date().getTime(), event: 'gtm.js'

        }); var f = d.getElementsByTagName(s)[0],

        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-TSBCL7');

    </script>

    <!-- End Google Tag Manager -->



    



<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta charset="utf-8">

<title> Rush Crane Systems - Cranes for Sale, Crane Rental</title>

<meta name="description" content="Work ready cranes for sale or rent. We can customize the right crane for any job. National, Manitex and Fassi, plus Jekko Mini Cranes and Peterbilt chassis.">

<meta name="viewport" content="width=device-width, initial-scale=1">



<meta name="google-site-verification" content="C5_fu1Ic6qj67pXKrBHBB3lA2VqduHlxg3CuWvj3D5g" />



<link rel="stylesheet" href="/Content/css/normalize.css">

<link rel="stylesheet" href="/Content/css/fonts.css">

<link rel="stylesheet" href="/Content/css/main.css">

<link rel="stylesheet" href="/Content/css/angular.rangeSlider.css">

<!--[if IE 9]><link rel="stylesheet" href="~/Content/css/ie9.css"><![endif]-->



<script src="/Content/js/vendor/modernizr-2.6.2.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

<script src="/Content/js/vendor/angular.rangeSlider.js"></script>



</head>

<body>

    <!-- Google Tag Manager (noscript) -->

    <noscript>

        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSBCL7"

                height="0" width="0" style="display:none;visibility:hidden"></iframe>

    </noscript>

    <!-- End Google Tag Manager (noscript) -->



    

<input id="sitename" type="hidden" value="Cranes"/>

<header>

    <div class="full-background">

        <div class="container">

            <div class="logo-container">

                <a href="/">

                    <img src="/~/media/Images/Cranes/Site/Logos/RushCraneSystemsLogo416x200NEW20140711.ashx?h=200&amp;la=en&amp;w=416" alt="RushCraneSystemsLogo416x200NEW20140711" />

                </a>

            </div>

            <!--/logo-container-->

        </div>

        <div class="header-bottom">

            <div class="container">

                <h2 class="mobile contact-copy">Contact Sales: 844-787-4282</h2>

                <div id="mobile-menu-icon" class="tablet mobile mobile-icon"><i class="fa fa-bars"></i></div>

                <div id="mobile-search-icon" class="tablet mobile mobile-icon"><i class="fa fa-search"></i></div>

                <div class="top-contain">

                    <div class="desktop tablet">

                        <h2 class="contact-copy">Contact a Sales Representative: 844-787-4282</h2>

                    </div>

                    <div class="search-container">

                        <input type="text" class="search-box" group="desktopheader" placeholder="Search" />

                        <a class="button ghost search" group="desktopheader"></a>

                    </div>

                </div>

                <div class="container desktop">

                    <nav id="desktop-headerNav">

                        <ul>

                                <li><a class="selected" href="/">Home</a></li>



                                <li><a href="/sales-and-rental">Sales and Rental<span class="arrow-right"></span></a></li>

                                <li><a href="/financing">Financing<span class="arrow-right"></span></a></li>

                                <li><a href="/find-cranes">Find Products<span class="arrow-right"></span></a></li>

                                <li><a href="/parts-and-service">Parts and Service<span class="arrow-right"></span></a></li>

                                <li><a href="/portfolio">Crane Solutions<span class="arrow-right"></span></a></li>

                        </ul>

                    </nav>



                </div>

            </div>

        </div>

        <!--./header-bottom-->

        <div class="container nav-position mobile tablet">

            <nav id="mobile-headerNav">

                <ul>

                        <li><a href="/">Home</a></li>



                        <li><a href="/sales-and-rental">Sales and Rental<span class="arrow-right"></span></a></li>

                        <li><a href="/financing">Financing<span class="arrow-right"></span></a></li>

                        <li><a href="/find-cranes">Find Products<span class="arrow-right"></span></a></li>

                        <li><a href="/parts-and-service">Parts and Service<span class="arrow-right"></span></a></li>

                        <li><a href="/portfolio">Crane Solutions<span class="arrow-right"></span></a></li>

                </ul>

            </nav>

            <div id="mobile-searchNav" class="tablet mobile">

                <div class="search-container">

                    <input type="text" class="search-box" group="mobileheader" placeholder="Search" />

                    <a class="button go search" group="mobileheader">

                        <span class="text">GO</span>

                        <div class="vertical">

                            <span class="arrow-right"></span>

                        </div>

                    </a>

                    <!--/.button-->

                </div>

            </div>

        </div>



            <div id="homepage-carousel">

                    <div class="item full-background-image" style="background-image: url('/~/media/Images/Cranes/Site/Home/CraneHomebanner1350x500.ashx');">

                        <div class="container">

                            <div class="full-background-copy">

                                <h1 class="tablet desktop"></h1>

                            </div>

                        </div>

                    </div>

                                    <div class="item full-background-image" style="background-image: url('/~/media/Images/Cranes/Site/Home/crane_hp_1350x500.ashx');">

                        <div class="container">

                            <div class="full-background-copy">

                                <h1 class="tablet desktop"></h1>

                            </div>

                        </div>

                    </div>

                                    <div class="item full-background-image" style="background-image: url('/~/media/Images/Cranes/Site/Home/Crane_Home_Test_1350x500.ashx');">

                        <div class="container">

                            <div class="full-background-copy">

                                <h1 class="tablet desktop"></h1>

                            </div>

                        </div>

                    </div>

                                            </div>

    </div>

    <!--./full-background-->

</header>







<!-- high level search filter - enclosed layout -->

<div class="hl-search-wrapper">

    <div class="container enclosed">

        <div class="hl-search-container1">

            <h2><i class="fa fa-search"></i>Find the right Crane:</h2>

        </div>

        <div class="hl-search-container2">

            <form id="ng-app" ng-app="searchBarApp" ng-controller="searchBarCtrl">

                <select class="select-dropdown" name="select-app-type" ng-model="dd1Prop" ng-change="setLink();resetDropdown()">

                    <option ng-repeat="dd1Entry in dd1Entries" value="{{dd1Entry.value}}" ng-selected="{{dd1Entry.selected}}">{{dd1Entry.displayText}}</option>

                </select><!--/.select-app-type-->



                <select class="select-dropdown" name="select-body-type" ng-model="dd2Prop" ng-change="setLink()">

                    <option ng-repeat="dd2Entry in dd2Entries | filter:dd1Prop" value="{{dd2Entry.value}}" ng-selected="{{dd2Entry.selected}}">{{dd2Entry.displayText}}</option>

                </select><!--/.select-body-type-->



                <a class="button go" href="{{filterLink}}">

                    <span class="text">GO</span>

                    <div class="vertical">

                        <span class="arrow-right"></span>

                    </div>

                </a>

                <!--/.button-->

            </form>

        </div>

        <!--/.search-func-container-->

    </div>

</div>

<!--/.hl-search-wrapper-->

<script>

    (function (rush, $, undefined) {

        rush.truckinventorypagelink = '/sitecore/content/sites/trucks/home/truck-sales/truck-inventory';



            rush.houseoftrucksinventorypagelink = '/sitecore/content/sites/houseoftrucks/home/inventory';

    }(window.rush = window.rush || {}, jQuery));

</script>

<script src="/Content/js/searchbar.js"></script><div class="carousel-wrapper">

    <div class="carousel-background"></div>

    <div class="container">

        <div class="customNavigation">

            <div class="car-arrow left"></div>

            <div class="car-arrow right"></div>

        </div>

        <div id="owl-demo" class="owl-carousel">

                <div class="item ">

                    <a href="/find-cranes/boom-cranes">

                        <img src="/~/media/Images/Cranes/Site/Home/NtlCrane940x760.ashx?h=760&amp;la=en&amp;w=940" alt="NtlCrane940x760" />

                        <h2>Boom Trucks <span>&#9654;</span></h2>

                    </a>

                </div>

                <div class="item ">

                    <a href="/find-cranes/knuckle-cranes">

                        <img src="/~/media/Images/Cranes/Site/Home/FASSI44444440Crane960x740.ashx?h=760&amp;la=en&amp;w=940" alt="FASSI44444440Crane960x740" />

                        <h2>Knuckle Cranes <span>&#9654;</span></h2>

                    </a>

                </div>

                <div class="item ">

                    <a href="/find-cranes/mini-cranes">

                        <img src="/~/media/Images/Cranes/Site/Home/MiniCrane940x760.ashx?h=760&amp;la=en&amp;w=940" alt="MiniCrane940x760" />

                        <h2>Mini Cranes <span>&#9654;</span></h2>

                    </a>

                </div>

                <div class="item ">

                    <a href="/find-cranes/wallboard-cranes">

                        <img src="/~/media/Images/Cranes/Site/Home/FassiTruck940x760px.ashx?h=760&amp;la=en&amp;w=940" alt="FassiTruck940x760px" />

                        <h2>Wallboard Cranes <span>&#9654;</span></h2>

                    </a>

                </div>

        </div>

        <!--/.owl-demo-->

    </div>

    <!--/.container-->

</div>

<!--/.carousel-wrapper-->

<div class="container light-grey-background">

    <div class="row more-solutions-wrapper">

        <div class="col more-header">
<h2><span>MORE SOLUTIONS.</span></h2>
</div>
<div class="col more-copy">
<div class="copy-container">
<h3>
<p>Rush Crane Systems provides the country's only integrated solution for all of your crane needs. &nbsp;From rental and sales to parts and service, we are the one-stop source for crane trucks. &nbsp;Rush Crane Systems offers one of the largest selections of work-ready cranes to rent or purchase. &nbsp; Or if you are in the market for a custom build, our in-house crane experts can design, build and deliver the right crane truck for your job. &nbsp;In addition, Rush Crane Systems is supported by a network of over 100 Rush Truck Centers across the country to meet all of your parts and service needs. &nbsp;This makes Rush Crane Systems the complete solution for crane trucks.</p>
<a href="/portfolio">Learn more &raquo;</a></h3>
</div>
</div>

    </div>

</div>





<div class="contact-wrapper">

    <div class="container">

        <div class="newsletter-social-wrapper">

            <div class="newsletter-container">

                <div class="copy">Get our ExpectMore Newsletter</div>

                



                <script type="text/javascript" src="//app.icontact.com/icp/static/form/javascripts/validation-captcha.js"></script>

                <script type="text/javascript" src="//app.icontact.com/icp/static/form/javascripts/tracking.js"></script>



                <form id="ic_signupform"

                      class="input-wrapper clearfix ic-sharedform"

                      captcha-key="6LeCZCcUAAAAALhxcQ5fN80W6Wa2K3GqRQK6WRjA"

                      captcha-theme="light"

                      new-captcha="true"

                      method="POST"

                      action="https://app.icontact.com/icp/core/mycontacts/signup/designer/form/?id=146&cid=513889&lid=32549">



                    <div class="formEl fieldtype-input required" data-validation-type="1" data-label="Email" style="display: inline-block; width: 100%;">

                        <input type="text" placeholder="Enter Email Address" name="data[email]" class="newsletter-signup">

                        <button type="submit" class="button go">

                                <span class="text">GO</span>

                                <div class="vertical">

                                    <span class="button-arrow"></span>

                                </div>

                        </button>

                        

                    </div>



                    <div class="submit-container">



                    </div>



                    <div class="formEl fieldtype-checkbox required" dataname="listGroups" data-validation-type="1" data-label="Lists" style="display: none; width: 100%;">

                        <h3>Lists<span class="indicator required">*</span></h3>

                        <div class="option-container">

                            <label class="checkbox">

                                <input type="checkbox" alt="" name="data[listGroups][]" value="64757" checked="checked">Rush Truck Centers

                            </label>

                        </div>

                    </div>



                    <div class="hidden-container"></div>

                </form>

                <img src="//app.icontact.com/icp/core/signup/tracking.gif?id=146&cid=513889&lid=32549" />







                <!--/.button-->

            </div>

            <!--/.newsletter-container-->

            <div class="social-container social-symbols">

                <ul>

                    <li><a href="https://www.facebook.com/pages/Rush-Truck-Centers/161138797817" target="_blank">f</a></li>

                    <li><a href="https://www.linkedin.com/company/rush-enterprises-inc/products?trk=top_nav_products" target="_blank">i</a></li>

                    <li><a href="http://www.youtube.com/user/RushEnterprises" target="_blank">x</a></li>

                </ul>

            </div>

        </div>

        <!--/.newsletter-social-wrapper-->



        <div class="contact-container">



            <a class="contact-us button" href="/Contact-Us">

                <span class="text">CONTACT US</span>

                <div class="vertical">

                    <span class="arrow-right"></span>

                </div>

            </a>



            <div class="phone copy">

                <div><span>Sales:</span> 844-787-4282</div>

                <div><span>Service:</span> 844-787-4282</div>

            </div>

        </div>

        <!--./contact-container-->

    </div>

    <!--/.container-->

</div>

<!--/.contact-wrapper-->

<footer>

    <div class="container">

        <nav id="footer-nav">

            <ul>

                <li><a href="/privacy-policy">Privacy Policy</a></li>

                <li>/</li>

                <li><a href="/terms-of-use">Terms of Use</a></li>

            </ul>

            <ul>

                <li>&copy; <a href="http://www.rushenterprises.com/" target="_blank">2019 Rush Enterprises Inc.</a></li>

            </ul>

        </nav>

        <div id="footer-logo">

            <ul>

                    <li>

                        <a href="http://www.peterbilt.com/" target="_blank">

                            <img src="/~/media/Images/Refuse/Site/Logos/300x150px/peterbilt_footer300x150.ashx?h=150&amp;la=en&amp;w=300" alt="peterbilt_footer300x150" />

                        </a>

                    </li>

                    <li>

                        <a href="" target="_blank">

                            <img src="/~/media/Images/Cranes/Site/Logos/Fassi_footer_300x150.ashx?h=150&amp;la=en&amp;w=300" alt="Fassi_footer_300x150" />

                        </a>

                    </li>

                    <li>

                        <a href="" target="_blank">

                            <img src="/~/media/Images/Cranes/Site/Logos/JekkominiCrane300x150.ashx?h=150&amp;la=en&amp;w=300" alt="JekkominiCrane300x150" />

                        </a>

                    </li>

                    <li>

                        <a href="" target="_blank">

                            <img src="/~/media/Images/Cranes/Site/Logos/Manitex_300x150.ashx?h=150&amp;la=en&amp;w=300" alt="Manitex_300x150" />

                        </a>

                    </li>

            </ul>

        </div>

        <div class="social-container social-symbols">

            <ul>

                <li><a href="https://www.facebook.com/pages/Rush-Truck-Centers/161138797817" target="_blank">f</a></li>

                <li><a href="https://www.linkedin.com/company/rush-enterprises-inc/products?trk=top_nav_products" target="_blank">i</a></li>

                <li><a href="http://www.youtube.com/user/RushEnterprises" target="_blank">x</a></li>

            </ul>

        </div>

    </div>

    <!--./container-->

</footer>



    <script src="/Content/js/plugins.js"></script>

    <script src="/Content/js/main.js"></script>

    <script src="/Content/js/searchbox.js"></script>



    <!-- Google Tag Manager -->

    

    <!-- End Google Tag Manager -->

</body>

</html>

